     <!-- MILESTONE SECTION START -->
     <section id="mileston" class="bg-cover">
        <div class="row gy-4 text-center justify-content-center">
          <div class="col-lg-2 col-sm-6">
            <div class="display-4 text-white fw-700">90K+</div>
            <p class="mb-0 text-white">Happy Clients</p>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="display-4 text-white fw-700">45M</div>
            <p class="mb-0 text-white">Lines of code </p>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="display-4 text-white fw-700">190</div>
            <p class="mb-0 text-white">Total Downloads</p>
          </div>
          <div class="col-lg-2 col-sm-6">
            <div class="display-4 text-white fw-700">380K</div>
            <p class="mb-0 text-white">YouTube Subscribers</p>
          </div>
        </div>
       </section>
  
  
       <!-- MILESTONE SECTION END -->
