



    <!-- PORTFOLIO SECTION START -->
    <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-12 intro text-center">
              <h6>OUR WROK</h6>
              <h1>Our Recent Work</h1>
              <p>We offer custom software development, system integration, IT consulting, and support services to 
                optimize your business operations and drive growth.
  
              </p>
            </div>
          </div> 
        </div>
  
          <div>
            <owl-carousel-o [options]="customOptions">
              <ng-template carouselSlide>
                <div class="project">
                  <img src="assets\images\port 1.jpg" alt="" class="img-fluid">
                  <div class="overlay">
                   <div class="content">
                     <h1>Consulting Marketing</h1>
                     <h6>Website design</h6>
                   </div>
                  </div>
                 </div>
              </ng-template>  
              <ng-template carouselSlide>
                
          <div class="project">
            <img src="assets\images\port 2.jpg" alt="" class="img-fluid">
            <div class="overlay">
             <div class="content">
              <h1>Consulting Marketing</h1>
              <h6>Website design</h6>
             </div>
            </div>
           </div>
              </ng-template>  
              <ng-template carouselSlide>
                
           <div class="project">
            <img src="assets\images\port 3.jpg" alt="" class="img-fluid">
            <div class="overlay">
             <div class="content">
              <h1>Consulting Marketing</h1>
              <h6>Website design</h6>
             </div>
            </div>
           </div>
              </ng-template>  
              <ng-template carouselSlide>
           <div class="project">
            <img src="assets\images\port 4.webp" alt="" class="img-fluid">
            <div class="overlay">
             <div class="content">
              <h1>Consulting Marketing</h1>
              <h6>Website design</h6>
             </div>
            </div>
           </div>
              </ng-template>  
              <ng-template carouselSlide>
                <div class="project">
                  <img src="assets\images\port 5.webp" alt="" class="img-fluid">
                  <div class="overlay">
                   <div class="content">
                    <h1>Consulting Marketing</h1>
                    <h6>Website design</h6>
                   </div>
                  </div>
                 </div>
              </ng-template>  
              <ng-template carouselSlide>
                       
           <div class="project">
            <img src="assets\images\port 6.jpg" alt="" class="img-fluid">
            <div class="overlay">
             <div class="content">
              <h1>Consulting Marketing</h1>
              <h6>Website design</h6>
             </div>
            </div>
           </div>
              </ng-template>  
              <ng-template carouselSlide>
                <div class="project">
                  <img src="assets\images\port 7.webp" alt="" class="img-fluid">
                  <div class="overlay">
                   <div class="content">
                    <h1>Consulting Marketing</h1>
                    <h6>Website design</h6>
                   </div>
                  </div>
                 </div>
              </ng-template>  
              <ng-template carouselSlide>
                
              </ng-template>  
             
              <ng-template carouselSlide>
                <div class="project">
                  <img src="assets\images\port 8.jpg" alt="" class="img-fluid">
                  <div class="overlay">
                   <div class="content">
                    <h1>Consulting Marketing</h1>
                    <h6>Website design</h6>
                   </div>
                  </div>
                 </div>
        
              </ng-template>  
             
             
            </owl-carousel-o>
          </div>
      </section>
      
  
      <!-- PORTFOLIO SECTION END -->
