 <!-- FOOTER SECTION START -->
 <footer>
    <div class="footer-top">
     <div class="container">
       <div class="row">
         <div class="col-lg-6 mx-auto">
           <a class="navbar-brand" href="#">Userco <span><i class='bx bxs-user-pin'></i></span></a>
           <p>our mission is to empower businesses and individuals through innovative, reliable, and efficient software solutions. 
             We aim to transform complex challenges into seamless digital experiences, driving growth and fostering success for our clients. </p>
             <div class="social-links">
               <a href="#"><i class='bx bxl-facebook'></i></a>
               <a href="#"><i class='bx bxl-twitter' ></i></a>
               <a href="#"><i class='bx bxl-github' ></i></a>
               <a href="#"><i class='bx bxl-youtube' ></i></a>
           </div>
         </div>
       </div>
     </div>
    </div>
    <div class="footer-bottom">
     <div class="container">
       <p class="mb-0">Copyright2020. All Rights Reserve</p>
     </div>
    </div>
   </footer>
