
        <!-- BLOG SECTION END -->

        <section>
            <div class="blog__wrapper">
              <div class="container">
                <div class="row">
                  <div class="col-sm-5">
                    <div class="blog__header">
                      <h2 class="top--heading">Blogs</h2>
                      <h3>Our News & Updates</h3>
                      <p>Check more posts in our blogs for featured news and advertising insights</p>
                      <a href="#" class="btn btn--blog">Blogs <i class="bi bi-arrow-right"></i></a>
                    </div>
                    <div class="blog__body">
                      <div class="row">
                        <div class="col-sm-7">
                          <div class="blog__body-box">
                            <div class="blog__body-box__image">
                              <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSV4pfZIAHMb7eT3gYxr-wprTXt6rb-M9ON7w&s" class="blog_image--1" alt="blog" width="292" height="263">
                            </div>
                            <div class="blog__body-box__info">

                              <h4>{{articles[0].heading}}</h4>
                             <div [innerHTML]="articles[0].shortDescription"></div>
                              <p>{{articles[0].lastModifiedBy}}</p><span>{{articles[0].lastModifiedDate}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-5">
                          <div class="blog__body-box">
                            <div class="blog__body-box__image">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmWndC1wcnmVPkWO-nF6fT-pww2jxVCvahz5sgqgyhO3NIP6BwWadPIeR-EUAgl0JJlLw&usqp=CAU"  class="blog_image--1" alt="" width="188" height="263">
                            </div>
                            <div class="blog__body-box__info">
                             
                              <h4>{{articles[1].heading}}</h4>
                             <div [innerHTML]="articles[1].shortDescription"></div>
                              <p>{{articles[1].lastModifiedBy}}</p><span>{{articles[1].lastModifiedDate}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-7">
                    <div class="row">
                      <div class="col-sm-6">
                        <div class="blog__body-box" >
                          <div class="blog__body-box__image">
                            <img src="https://as2.ftcdn.net/v2/jpg/01/52/23/87/1000_F_152238771_qwSheXCBs1Tt7aJxWOpwCW2yq3u27xDo.jpg" alt="" width="397" height="527" class="blog--imgae5">
                          </div>
                          <div class="blog__body-box__info">
                            <h4>{{articles[2].heading}}</h4>
                            <div [innerHTML]="articles[2].shortDescription"></div>
                             <p>{{articles[2].lastModifiedBy}}</p><span>{{articles[2].lastModifiedDate}}</span>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-6">
                        <div class="col-sm-12">
                          <div class="blog__body-box" >
                            <div class="blog__body-box__image">
                              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRUV19wccXUFOKN01FSpfBa14x7GPDcf4aHciojSq_bvNpil0zU3jun5j3_2__WfG2YXUA&usqp=CAU" class="blog_image--3" alt="" width="293" height="251">
                            </div>
                            <div class="blog__body-box__info">
                              <h4>{{articles[3].heading}}</h4>
                              <div [innerHTML]="articles[3].shortDescription"></div>
                               <p>{{articles[3].lastModifiedBy}}</p><span>{{articles[3].lastModifiedDate}}</span>
                            </div>
                          </div>
                        </div>
                        <div class="col-sm-12">
                          <div class="blog__body-box"  >
                            <div class="blog__body-box__image mt-3">
                              <img src="https://c8.alamy.com/comp/2F86MW7/energy-and-power-icons-set-and-grunge-brush-stroke-energy-generation-and-heavy-industry-relative-image-manufacturing-and-transportation-math-scienc-2F86MW7.jpg" alt="" width="293" height="251">
                            </div>
                            <div class="blog__body-box__info">
                              <h4>{{articles[4].heading}}</h4>
                              <div [innerHTML]="articles[4].shortDescription"></div>
                               <p>{{articles[4].lastModifiedBy}}</p><span>{{articles[4].lastModifiedDate}}</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
      

        <!-- BLOG SECTION END -->
