
     <!-- SERVICES SECTION START -->
     <section id="services">
        <div class="container">
          <div class="row">
            <div class="col-12 intro text-center">
              <h6>OUR SERVICES</h6>
              <h1>What We Do</h1>
              <p>We offer custom software development, system integration, IT consulting, and support services to optimize your business operations and drive growth.

              </p>
            </div>
          </div>
          <div class="row g-4">
            <div class="col-lg-4 col-sm-6">
              <div class="service-box">
                <img src="assets\images\icon1.png" alt="">
                <h5>Digital Marketing</h5>
                <p>Boost your business with our digital marketing services. Engage customers, increase visibility, and drive growth.</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="service-box">
                <img src="assets\images\logo.png" alt="">
                <h5>Logo Design</h5>
                <p>Boost your business with our digital marketing services. Engage customers, increase visibility, and drive growth.</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="service-box">
                <img src="assets\images\icon3.png" alt="">
                <h5>Buisness Marketing</h5>
                <p>Boost your business with our digital marketing services. Engage customers, increase visibility, and drive growth.</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="service-box">
                <img src="assets\images\icon4.png" alt="">
                <h5>Website Design</h5>
                <p>Boost your business with our digital marketing services. Engage customers, increase visibility, and drive growth.</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="service-box">
                <img src="assets\images\icon5.png" alt="">
                <h5>Application Design</h5>
                <p>Boost your business with our digital marketing services. Engage customers, increase visibility, and drive growth.</p>
              </div>
            </div>
            <div class="col-lg-4 col-sm-6">
              <div class="service-box">
                <img src="assets\images\email.png" alt="">
                <h5>Email Marketing</h5>
                <p>Boost your business with our digital marketing services. Engage customers, increase visibility, and drive growth.</p>
              </div>
            </div>
          </div>   
        </div>
      </section>

     <!-- SERVICES SECTION END -->
