
/* service section start  */
.intro {
    margin-bottom: 40px;
}
.intro h6{
    font-weight: 400;
    color: var(--primary-color);
}
.intro p{
    max-width: 500px;
    margin: auto;
}

.service-box{
    padding: 32px;
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.08);
    text-align: center;
}

.service-box img{
    width: 120px;
}

.service-box h5{
    margin-top: 24px;
    margin-bottom: 12px ;
    
}
/* service section end  */