@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
:root {
    --white:#fff;
  --anchor-color:#092032;
  --headers-color: #092032;
  --body-color:#516171;
  --top-nav:#ff4d29;
  --primary-color:#ff4d29;
  --logo-color:#092032;
}

body{
    font-family: "Barlow",sans-serif;
    line-height: 1.7;
    color: var(--body-color);
}

h1,h2,h3,h4,h5,h6{
font-weight: 700 !important;
color: var(--headers-color);
}
a{
    color:(--anchor-color);
    text-decoration: none;
    transition: all 0.4s ease;
}
img{
    width: 100%;
}

.bg-cover{
    background-position: center !important;
    background-size: cover !important;
}
section{
    padding-top: 80px;
    padding-bottom: 80px;
}