
     <!-- ABOUT SECTION STARTS -->

     <section>
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-lg-5">
              <div class="row">
                <div class="col-12 info-box">
                  <img src="assets\images\digital.png" alt="">
                  <div>
                    <h5>Digital Marketting</h5>
                    <p>Digital marketing: leveraging online channels and strategies to promote businesses, engage customers, and drive sales growth effectively.</p>
                  </div>
                </div>
  
                <div class="col-12 info-box mt-4">
                  <img src="assets\images\email.png" alt="">
                  <div>
                    <h5>Email Marketting</h5>
                    <p>
                      Using targeted email campaigns to engage customers, promote products, and drive conversions effectively.</p>
                  </div>
                </div>
  
                <div class="col-12 info-box mt-4">
                  <img src="assets\images\buisness.png" alt="">
                  <div>
                    <h5>Buisness Marketting</h5>
                    <p>Strategies and tactics to promote products or services, attract customers, and achieve competitive advantage in the market.</p>
                  </div>
                </div>
  
  
              </div>
            </div>
            <div class="col-lg-5">
              <img src="assets\images\about.png" alt="">
            </div>
          </div>
        </div>
       </section>
        
       <!-- ABOUT SECTION END -->
