/* testimonial section start  */

#reviews{
    background: linear-gradient(rgba(9,32,50,0.8),rgba(9,32,50,0.8)),url('https://t3.ftcdn.net/jpg/02/16/47/84/360_F_216478405_8BiktHuFegtWgDueFicJTJpvjHCO5qk3.jpg');
}
.review{
    max-width: 800px;
    margin: auto;
    text-align: center;
}
.review img{
    width:84px !important;
    border-radius: 1000px;
    margin: auto;
}
.review h4,
.review p{
    color: #fff;
}
.review small{
    color: var(--primary-color);
}
.review h4{
    margin-top: 16px;
}

::ng-deep .owl-dot.active span {
    background-color: #ff4d29 !important;
  }
/* testimonial section end  */